<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486924521070-2a5l1v5nar135ltr7ddgldq175h018ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486924521070-2a5l1v5nar135ltr7ddgldq175h018ud</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>486924521070-u7qsr3ijm54qu37fo8nljvdfo54uef25.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7lpWxcY8le_nUY-3m-VTtWtYvm5SsPL4</string>
	<key>GCM_SENDER_ID</key>
	<string>486924521070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.gdglille.devfest.ios</string>
	<key>PROJECT_ID</key>
	<string>cms4partners-ce427</string>
	<key>STORAGE_BUCKET</key>
	<string>cms4partners-ce427.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:486924521070:ios:e58933c84c29861396207f</string>
	<key>DATABASE_URL</key>
	<string>https://cms4partners-ce427.firebaseio.com</string>
</dict>
</plist>
